{% extends "layout.html" %}
{% block content %}
<div class="hero-body">
  <div class="container">
      <div class="column is-6 is-offset-3">
          <div class="box">
              <div class="columns is-mobile is-centered is-vcentered">
                  <div class="column">
                      <div class="has-text-left">
                          <div class="is-size-3">
                              <p class="bd-notification is-primary">{{ current_user.username }}</p>
                          </div>
                      <div class="is-size-6">
                          <p class="bd-notification is-primary">{{ current_user.email }}</p>
                      </div>

                      <div class="is-size-6">
                        <p class="bd-notification is-primary">{{ current_user.phone }}</p>
                    </div>
                  </div>
              </div>
          </div>
          <div class="field">
              <label class="label">Update Your Account</label>
          </div>
          <form method="POST" action="" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="field">
                  {{ form.username.label(class="label")}}
                  <div class="control has-icons-right">
                      {{ form.username(required=True, class='input',
                                                   placeholder='your username') }}
                      <span class="icon is-small is-right">
                          <i class="fa fa-user"></i>
                      </span>
                      {% if form.username.errors %}
                          <p class="help is-danger">
                              {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </p>
                      {% endif %}
                  </div>
              </div>
              
              <div class="field">
                  {{ form.email.label(class="label")}}
                  <div class="control has-icons-right">
                      {{ form.email(required=True, class='input',
                                                   placeholder='your email') }}
                      <span class="icon is-small is-right">
                          <i class="fa fa-envelope"></i>
                      </span>
                      {% if form.email.errors %}
                          <p class="help is-danger">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span></br>
                              {% endfor %}
                          </p>
                      {% endif %}
                  </div>
              </div>

              <div class="field">
                {{ form.phone.label(class="label")}}
                <div class="control has-icons-right">
                    {{ form.phone(required=True, class='input',
                                                 placeholder='phone number') }}
                    <span class="icon is-small is-right">
                        <i class="fa fa-phone"></i>
                    </span>
                    {% if form.phone.errors %}
                        <p class="help is-danger">
                            {% for error in form.phone.errors %}
                                <span>{{ phone }}</span></br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
              
              <div class="field">
                {{ form.password.label(class="label")}}
                <div class="control has-icons-right">
                    {{ form.password(required=True, class='input',
                                                 placeholder='please enter your password to commit changes') }}
                    <span class="icon is-small is-right">
                        <i class="fa fa-key"></i>
                    </span>
                    {% if form.password.errors %}
                        <p class="help is-danger">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span></br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            
        
              <div class="has-text-centered">
                  {{ form.submit(class="button is-vcentered is-primary is-outlined") }}
              </div>
      
          </form>
      </div>
  </div>
  <div class="container"><hr></div>

<div class="container has-text-centered">
    
    <h1 class="title">
        My Published Posts
    </h1>
    <br>
    <div class="columns is-centered">
        <div class="column is-10">
            <div class="columns is-multiline">
                
                {% for post in posts %}  
                <div class="column is-one-third">
                    <a href = "{{ url_for('post_update', post_id=post.key) }}">
                    <div class="card rb-card">
                        <div class="card-image">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="">
                                </figure>
                            </div>
                        </div>
                        <div class="card-content">
                          <p class="bd-notification is-primary">{{ post.post_date }}</p>
                            <h3 class="title is-size-6 ellipsis is-ellipsis-1">
                                <a href="" class="has-text-primary"></a>
                                {{ post.item.title }}
                                </a>
                            </h3>
                            <h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
                                {{ post.item.description }}
                            </h4>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}