
{% extends "layout.html" %}
{% block content %}
<div class="container"><hr></div>
<section class="hero has-text-centered" >
    <div class="hero-body ">
        <div class="container">
            <h2 class="subtitle">
                Find unique items.
            </h2>
            <h1 class="title">
                Every second new items are posted.
            </h1>
            <br>
            <div class="columns is-centered">

                

                <div class ="column is-2">
                    <!--
                    <ul>
                        <li>
                            Situation
                            <ul>
                                <li>
                                    <input type="checkbox" value='new' class="" name='situation'> New 
                                </li>
                                <li>
                                    <input type="checkbox" value='old' class="" name='situation'> Old 
                                </li>
                                <li>
                                    <input type="checkbox" value='worn' class="" name='situation'> Worn 
                                </li>
                            </ul>
                        </li>
                    </ul>
                -->
                
                
                <p>Select situation</p>
                <input type="radio" id="new" name="situation" value="new">
                <label for="new">New</label><br>
                <input type="radio" id="old" name="situation" value="old">
                <label for="old">Old</label><br>
                <input type="radio" id="worn" name="situation" value="worn">
                <label for="worn">Worn</label></br>
                <input type="radio" id="all_situations" name="situation" value="all">
                <label for="all">All Situations</label></br>
                
                </br>
                <p>Select Category</p>
                {% for category in categories %} 
                <input type="radio" id='{{ category }}' name="category" value='{{ category }}'>
                <label for='{{ category }}'>{{ category }} </label><br>
                {% endfor %}
                <input type="radio" id="all_categories" name="category" value="all_categories">
                <label for="all_categories"> All Categories </label><br>
                </br>

                <p>Select Color</p>
                {% for color in colors %} 
                <input type="radio" id='{{ color }} ' name="color" value='{{ color }} '>
                <label for='{{ color }}'>{{ color }} </label><br>
                {% endfor %}
                <input type="radio" id="all_colors" name="color" value="all_colors">
                <label for="all_colors"> All Colors </label><br>
                </br>

                
                <input class="button is-primary" type="submit" value="Go!">
                
    
                
                </div>
                <div class="column is-10">
                    <div class="columns is-multiline">
                        
                        {% for post in posts %}  
                        <div class="column is-one-third">
                            <div class="card rb-card">
                                <a href="{{ url_for('post_detail', post_id=post.key) }}" class="has-text-primary">
                                <div class="card-image">
                                    <div class="card-image">
                                        <figure class="image is-16by9">
                                            <img src="{{post.item.image}}">
                                        </figure>
                                    </div>
                                </div>
                                <div class="card-content">

                                    <div class="columns is-vcentered">
                                        <div class="column is-half">
                                            <a href = "" class="has-text-primary">{{ post.user }}</a>
                                        </div>
                                        <div class="column">
                                          <p class="bd-notification is-primary">{{ post.post_date }}</p>
                                        </div>
                                      </div>
                                    <h3 class="title is-size-6 ellipsis is-ellipsis-1">
                                        
                                            {{ post.item.title }}
                                        </a>
                                    </h3>
                                    <h4 class="subtitle is-size-7 ellipsis is-ellipsis-2">
                                        {{ post.item.description }}
                                    </h4>
                                    {% if post.tag1 is not none %}
                                    <span class="tag is-light">{{ post.tag1 }}</span>
                                    {% else %}
                                        NONE
                                    {% endif %}

                                    {% if post.tag2 is not none %}
                                    <span class="tag is-light">{{ post.tag2 }}</span>
                                    {% else %}
                                        NONE
                                    {% endif %}
                                </div>
                            </div>
                            </a>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </nav>
-->
</section>
{% endblock content %}