
{% extends "layout.html" %}
{% block title %}Products list{% endblock %}
{% block content %}
    <h1 class="title">Currently Available Ads</h1>


    {% if products %}
    <form action="" method="post" name="product_list"></form>
      <table class="table is-striped is-fullwidth">
        {% for product_key, product in products %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="product_keys" value="{{ product_key }}"/>
            </label>
            <a href="{{ url_for('product_page', product_key=product_key) }}">
                {{ product.name }}
                {% if product.price %} ({{ product.price }}) {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% endif %}
  {% endblock %}