{% extends "layout.html" %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        
                        <div class="field">
                            {{ form.title.label(class="label")}}
                            <div class="control">
                                {{ form.title(required=True, class='input',
                                                     placeholder='title') }}
                                
                                {% if form.title.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="field">
                            {{ form.description.label(class="label")}}
                            <div class="control">
                                {{ form.description(required=True, class='textarea',
                                                     placeholder='description') }}
                                
                                {% if form.description.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        
                        <div class="field">
                            {{ form.category.label(class="label")}}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.category }}
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            {{ form.color.label(class="label")}}
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.color }}
                                </div>
                            </div>
                        </div>

                        <p>Is product bought?</p>
                        <input type="radio" id="true" name="is_sold" value="true">
                        <label for="true"> Bought </label>
                        <input type="radio" id="false" name="is_sold" value="false">
                        <label for="false"> Not yet </label><br>
                        <br>
                        
                        <p>Is ad still available?</p>
                        <input type="radio" id="true" name="is_available" value="true">
                        <label for="true"> Available </label>
                        <input type="radio" id="false" name="is_available" value="false">
                        <label for="false"> Not available </label><br>
                        <br>

                        <p> Situation </p>
                        <input type="checkbox" value='new' class="example" name='situation' checked> New <br/>
                        <input type="checkbox" value='old' class="example" name='situation'> Old <br/>
                        <input type="checkbox" value='worn' class="example" name='situation'> Worn <br/>
                        <br>
                        
                        <div class="form-group">
                            {{ form.picture.label(class="label") }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="field">
                            {{ form.tag1.label(class="label")}}
                            <div class="control">
                                {{ form.tag1(required=False, class='input',
                                                     placeholder='tag1') }}
                                
                                {% if form.tag1.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.tag1.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.tag2.label(class="label")}}
                            <div class="control">
                                {{ form.tag2(required=False, class='input',
                                                     placeholder='tag2') }}
                                
                                {% if form.tag2.errors %}
                                    <p class="help is-danger">
                                        {% for error in form.tag2.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                
                        <div class="has-text-centered">
                            {{ form.submit(class="button is-vcentered is-primary is-outlined") }}
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>       
      
{% endblock content %}