
{% extends "layout.html" %}
{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="box">
            <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-one-third">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ item.image }}">
                    </figure>
                </div>
                <div class="column">
                    <div class="has-text-left">
                        <div class="is-size-3">
                          <p class="bd-notification is-primary">{{ user.username }}</p>
                        </div>
                        <div class="is-size-6">
                            <p class="bd-notification is-primary">{{ user.email }}</p>
                        </div>
                        <div class="is-size-6">
                            <p class="bd-notification is-primary">{{ user.phone }}</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered is-vcentered">
            <div class="column is-one-third">
                <figure class="image is-400x400">
                    <img src="{{ item.image }}">
                </figure>
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <div class="is-size-4">
                      <p class="label">Name</p>
                      <p class="bd-notification is-size-6 is-primary">{{ item.title }}</p>
                      <br>
                    </div>
                    <div class="is-size-4">
                        <p class="label">Item Description </p>
                        <p class="bd-notification is-size-6 is-primary">{{ item.description }}</p>
                        <br>
                    </div>
                    <div class="is-size-4">
                        <p class="label">Item Category </p>
                        <p class="bd-notification is-size-6 is-primary">{{ item.category }}</p>
                        <br>
                    </div>
                    <div class="is-size-4">
                        <p class="label">Item Color </p>
                        <p class="bd-notification is-size-6 is-primary">{{ item.color }}</p>
                        <br>
                    </div>
                    <div class="is-size-4">
                        <p class="label">Item Situation </p>
                        <p class="bd-notification is-size-6 is-primary">{{ item.situation }}</p>
                        <br>
                    </div>
                    <div class="is-size-6">
                        <p class="label">Is item bought? </p>
                        <p class="bd-notification is-size-6 is-primary">{{ post[5] }}</p>
                        <br>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<!--


<img class="is-rounded" src="{{ item.image }}">
<p>{{ user.username }}</p><br>
<p>{{ user.email }}</p><br>
<p>{{ user.phone }}</p><br>
<p>{{ item.title }}</p><br>
<p>{{ item.description }}</p><br>
<p>{{ item.category }}</p><br>
<p>{{ item.color }}</p><br>
<p>{{ item.situation }}</p><br>
<p>{{ item.situation }}</p><br>
<p>is active?</p>
<p>{{ post[4] }}</p><br>
<p>is sold?</p>
<p>{{ post[5] }}</p><br>


-->
          


{% endblock content %}


