<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div id="app">
		<section class="hero is-fullheight is-light" >
			<div class="hero-head">
				<nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
					<div class="container">
						<div class="navbar-brand">
							<a class="navbar-item">
								<img src="static/assets/amblem.png" alt="Vintage Find">
							</a>
						</div>
						<div class="navbar-menu"  id="navbarTopMain">
							<div class="navbar-end">
							<a href="{{ url_for('ads_page') }}" class="navbar-item has-text-weight-semibold">Ads</a>
							<a href="{{ url_for('home_page') }}" class="navbar-item has-text-weight-semibold">Home</a>
							
							{% if current_user.is_authenticated %}
							<a href="{{ url_for('publish_page') }}" class="navbar-item has-text-weight-semibold">Publish</a>
							<a href="{{ url_for('account') }}" class="navbar-item has-text-weight-semibold">
								Account
							</a>
							{% endif %}
							<div class="navbar-item">
								{% if current_user.is_authenticated %}
								<a href="/logout" class="button is-primary">
									Log Out
								</a>
								{% else %}
								<a href="/login" class="button is-primary">
									Log In
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</nav>
        </div>
        {% block content %}{% endblock %}
    
    <footer class="hero is-small is-light">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="b-t m-t-30 p-t-30 has-text-grey-light is-size-7">
                    Vintage Find &copy; Ekin Çelebi <br> <a href="#" class="has-text-primary">Terms of use</a> and <a class="has-text-primary" href="#">Privacy policy</a>.
                    
                </div>
            </div>
        </div>
	</footer>

<script>
$(document).ready(function(){
    $(".modal").addClass("is-active");

$("#lanuchModal").click(function() {
  $(".modal").addClass("is-active");  
});

$(".modal-close").click(function() {
   $(".modal").removeClass("is-active");
});

$("#closebtn").click(function() {
   $(".modal").removeClass("is-active");
});
$("#closetop").click(function() {
   $(".modal").removeClass("is-active");
});
});
</script>

</body>