{% extends "layout.html" %}
{% block title %}Add a new search{% endblock %}
{% block content %}
    <h1 class="title">Share the world what are you looking for!!!!!</h1>

    <form action="" method="post" name="product_edit">
      <div class="field">
        <label for="name" class="label">What item should we bring you?</label>
        <div class="control">
          <input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
        </div>
        
      </div>

      <div class="field">
        <label for="situation" class="label">Specify condition! Do you want it brand new or worn maybe!!</label>
        <div class="control">
          <input type="text" name="situation" class="input" required="required" value="{{ values['situation'] }}"/>
        </div>
        
      </div>


      <div class="field">
        <label for="description" class="label">Can you describe it more?(You don't have to specify)</label>
        <div class="control">
          <input type="text" name="description" class="input" value="{{ values['description'] }}"/>
        </div>
        
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Share it with others!</button>
        </div>
      </div>
    </form>
{% endblock %}